<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <title>{{ match.home_team }} - {{ match.away_team }} | Euro {{ edition }}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <style>
    .event {
  font-size: 0.95rem;
}
.event strong {
  color: #222;
}
.event .badge {
  font-size: 0.8rem;
}

    .team-logo {
      width: 50px;
      height: 50px;
      object-fit: contain;
    }

    .score-box {
      font-size: 36px;
      font-weight: bold;
    }

    .event {
      border-bottom: 1px solid #eee;
      padding: 10px 0;
    }

    .tab-content {
      border: 1px solid #dee2e6;
      border-top: none;
      padding: 1rem;
    }

    .circle {
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
  color: white;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
}
.circle.home {
  background-color: red;
}

.circle.away {
  background-color: blue;
}


.player-dot {
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
}

.player-name {
  font-size: 12px;
  color: black;
  margin-top: 2px;
}

  </style>
</head>
<body>
<div class="container mt-4">

  <!-- Titolo e risultato -->
  <div class="text-center mb-4">
    <div class="d-flex justify-content-center align-items-center gap-3">
      <img class="team-logo" src="{{ url_for('static', filename='logos/' ~ match.home_team_code ~ '.png') }}" alt="{{ match.home_team }}">
      <strong>{{ match.home_team }}</strong>
      <div class="score-box">{{ match.home_score|int }} - {{ match.away_score|int }}</div>
      <strong>{{ match.away_team }}</strong>
      <img class="team-logo" src="{{ url_for('static', filename='logos/' ~ match.away_team_code ~ '.png') }}" alt="{{ match.away_team }}">
    </div>
    <div class="text-muted mt-1"></div>
  </div>

  <!-- Tabs -->
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#summary">Riassunto</a></li>
    <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#lineups">Formazioni</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade show active" id="summary">
  <h5 class="mt-3">Eventi</h5>

  <div class="mb-3 text-center">
    <a href="{{ url_for('match_detail', match_id=match.id_match, order='asc') }}" class="btn btn-outline-primary btn-sm {% if order == 'asc' %}active{% endif %}">Ordine Cronologico</a>
    <a href="{{ url_for('match_detail', match_id=match.id_match, order='desc') }}" class="btn btn-outline-primary btn-sm {% if order == 'desc' %}active{% endif %}">Ordine Inverso</a>
  </div>

  {% if match.events %}
    {% for event in match.events %}
      {% if "PHASE" not in event.type %}
        {% if event.type == "INJURY_TIME" %}
        <div class="event d-flex justify-content-center align-items-center">
          <div class="flex-grow-1 text-center">

            <strong> Inizio recupero</strong>
          </div>
        </div>
        {% endif %}
        
        {% if event.type == "GOAL" %}
        <div class="event d-flex justify-content-center align-items-center">
          <div class="text-muted" style="width: 60px;">
            {{ event.time_minute|int ~ ':' ~ event.time_second|int if event.time_minute is not none else 'N/A' }}
          </div>
          <img src="{{ url_for('static', filename='logos/' ~ event.primary_country_code ~ '.png') }}" style="width: 30px; height: 30px; margin-right: 10px;">
          <img src="{{ url_for('static', filename='ball.svg') }}" alt="Goal icon" style="width: 30px; height: 30px; margin-right: 10px;">
          <div class="flex-grow-1 text-center">

            <strong> !! GOAL DI <a href="{{ url_for('player_detail', player_id=event.primary_id_person) }}">{{ event.primary_name|upper }}</a> !! </strong>
          </div>
        </div>
        {% endif  %}

        {% if event.type == "FULL_TIME" %}
          <div class="event d-flex justify-content-center align-items-center">
            <img src="{{ url_for('static', filename='whistle-icon.svg') }}" alt="Whistle Icon" style="width: 30px; height: 30px; margin-right: 10px;">
            <div class="flex-grow-1 text-center">

              <strong> FINE </strong>
            </div>
          </div>
        {% endif %}

        {% if event.type == "PENALTY" and event.phase == "PENALTY" and event.subType == "MISSED"%}
        <div class="event d-flex justify-content-center align-items-center">
          <div class="text-muted" style="width: 60px;">
            {{ event.time_minute|int ~ ':' ~ event.time_second|int if event.time_minute is not none else 'N/A' }}
          </div>
          <img src="{{ url_for('static', filename='logos/' ~ event.primary_country_code ~ '.png') }}" style="width: 30px; height: 30px; margin-right: 10px;">
          <div class="flex-grow-1 text-center">

            <strong> <a href="{{ url_for('player_detail', player_id=event.primary_id_person) }}">{{ event.primary_name|upper }}</a> ha sbagliato il rigore! </strong>
          </div>
        </div>
        {% endif %}
        {% if event.type == "PENALTY" and event.phase == "PENALTY" and event.subType != "MISSED"%}
        <div class="event d-flex justify-content-center align-items-center">
          <div class="text-muted" style="width: 60px;">
            {{ event.time_minute|int ~ ':' ~ event.time_second|int if event.time_minute is not none else 'N/A' }}
          </div>
          <img src="{{ url_for('static', filename='logos/' ~ event.primary_country_code ~ '.png') }}" style="width: 30px; height: 30px; margin-right: 10px;">
          <img src="{{ url_for('static', filename='ball.svg') }}" alt="Goal icon" style="width: 30px; height: 30px; margin-right: 10px;">
          <div class="flex-grow-1 text-center">

            <strong> <a href="{{ url_for('player_detail', player_id=event.primary_id_person) }}">{{ event.primary_name|upper }}</a> non sbaglia il rigore! </strong>
          </div>
        </div>
        {% endif %}

        {% if event.type == "PENALTY" and event.phase != "PENALTY" %}
        <div class="event d-flex justify-content-center align-items-center">
          <div class="text-muted" style="width: 60px;">
            {{ event.time_minute|int ~ ':' ~ event.time_second|int if event.time_minute is not none else 'N/A' }}
          </div>
          <img src="{{ url_for('static', filename='logos/' ~ event.primary_country_code ~ '.png') }}" style="width: 30px; height: 30px; margin-right: 10px;">
          <img src="{{ url_for('static', filename='ball.svg') }}" alt="Goal icon" style="width: 30px; height: 30px; margin-right: 10px;">
          <div class="flex-grow-1 text-center">

            <strong> !! GOAL DI <a href="{{ url_for('player_detail', player_id=event.primary_id_person) }}">{{ event.primary_name|upper }}</a> SU CALCIO DI RIGORE !! </strong>
          </div>
        </div>
        {% endif %}

        {% if event.type == "CORNER" %}
        <div class="event d-flex justify-content-center align-items-center">
          <div class="text-muted" style="width: 60px;">
            {{ event.time_minute|int ~ ':' ~ event.time_second|int if event.time_minute is not none else 'N/A' }}
          </div>
          <img src="{{ url_for('static', filename='logos/' ~ event.primary_country_code ~ '.png') }}" style="width: 30px; height: 30px; margin-right: 10px;">
          <div class="flex-grow-1 text-center">

            <strong> Calcio d'angolo battuto da <a href="{{ url_for('player_detail', player_id=event.primary_id_person) }}">{{ event.primary_name }}</a> </strong>
          </div>
        </div>
        {% endif %}


        {% if event.type == "SUBSTITUTION" %}
        <div class="event d-flex justify-content-center align-items-center">
          <div class="text-muted" style="width: 60px;">
            {{ event.time_minute|int ~ ':' ~ event.time_second|int if event.time_minute is not none else 'N/A' }}
          </div>
          <img src="{{ url_for('static', filename='sub.svg') }}" alt="Goal icon" style="width: 30px; height: 30px; margin-right: 10px;">
          <div class="flex-grow-1 text-center">

            Entra <b><a href="{{ url_for('player_detail', player_id=event.secondary_id_person) }}">{{ event.secondary_name }}</a></b>, esce <b><a href="{{ url_for('player_detail', player_id=event.primary_id_person) }}">{{ event.primary_name }}</a></b>
          </div>
        </div>
        {% endif %}

        {% if event.type == "YELLOW_CARD" %}
        <div class="event d-flex justify-content-center align-items-center">
          <div class="text-muted" style="width: 60px;">
            {{ event.time_minute|int ~ ':' ~ event.time_second|int if event.time_minute is not none else 'N/A' }}
          </div>
          <img src="{{ url_for('static', filename='Yellow_card.svg') }}" alt="Goal icon" style="width: 30px; height: 30px; margin-right: 10px;">
          <div class="flex-grow-1 text-center">

            <strong> Cartellino giallo per <a href="{{ url_for('player_detail', player_id=event.primary_id_person) }}">{{ event.primary_name }}</a> </strong>
          </div>
        </div>
        {% endif %}

        {% if event.type == "RED_CARD" %}
        <div class="event d-flex justify-content-center align-items-center">
          <div class="text-muted" style="width: 60px;">
            {{ event.time_minute|int ~ ':' ~ event.time_second|int if event.time_minute is not none else 'N/A' }}
          </div>
          <img src="{{ url_for('static', filename='Yellow_card.svg') }}" alt="Goal icon" style="width: 30px; height: 30px; margin-right: 10px;">
          <div class="flex-grow-1 text-center">

            <strong> Cartellino giallo per <a href="{{ url_for('player_detail', player_id=event.primary_id_person) }}">{{ event.primary_name }}</a> </strong>
          </div>
        </div>
        {% endif %}


        <div class="event d-flex justify-content-between align-items-center border-bottom py-2">
          <div class="flex-grow-1 ms-3">
          </div>
      </div>
      {% else %}
        <div class="event d-flex justify-content-center align-items-center">
          <img src="{{ url_for('static', filename='whistle-icon.svg') }}" alt="Whistle Icon" style="width: 30px; height: 30px; margin-right: 10px;">
          <div class="flex-grow-1 text-center">

            <strong> {{"Inizio" if event.type == "START_PHASE" else "Fine" if event.type == "END_PHASE" else "" }} {{ localized_misc[event.phase] }}</strong>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% else %}
    <p class="text-muted">Nessun evento registrato per questa partita.</p>
  {% endif %}
</div>

    <div class="tab-pane fade" id="lineups">
      <div class="field-container" style="position: relative; width: 100%; max-width: 600px; margin: auto;">
        <img src="{{ url_for('static', filename='field.svg') }}" alt="Field" class="img-fluid">
      
        {% for player in players %}
        {% if not (player.x == 0 and player.y == 0) %}
          <a href="{{ url_for('player_detail', player_id=player.id_player) }}" style="text-decoration: none;">
            <div class="player-dot" style="position: absolute; {{ 'top: {:.1f}%; left: {:.1f}%;'.format(player.y, player.x) }}">
              <div class="circle {{ 'home' if player.team_side == 'home' else 'away' }}">{{ player.jersey_number|int }}</div>
              <div class="player-name">{{ player.name_shirt }}</div>
            </div>
          </a>
        {% endif %}
      {% endfor %}
            </div>
            <h2>Formazioni iniziali</h2>
            <div>
              <h3>{{ match.home_team }}</h3>
              <ul>
                {% for player in players if player.team_side == 'home' %}
                  <li>{{ player.name_shirt }} (#{{ player.jersey_number|int }}) - {{ localized_roles[player.position_field] }}{% if not player.field %} (panchina) {% endif %}</li>
                {% endfor %}
              </ul>
              <h3>{{ match.away_team }}</h3>
              <ul>
                {% for player in players if player.team_side == 'away' %}
                  <li>{{ player.name_shirt }} (#{{ player.jersey_number }}) - {{ player.position_field }}{% if not player.field %} (panchina) {% endif %}</li>
                {% endfor %}
              </ul>
            </div>
      
    </div>
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
