<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <title>{{ player.name }}</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      padding: 20px;
    }

    .card {
      background-color: white;
      padding: 20px;
      border-radius: 8px;
      max-width: 600px;
      margin: auto;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
      margin-top: 0;
    }

    .stat {
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
  <div class="card">
    <div style="display: flex; align-items: center; gap: 20px;">
      <img class="team-logo" src="{{ url_for('static', filename='logos/' ~ player.country_code ~ '.png') }}" alt="{{ player.country_code }}" style="width: 50px; height: 50px; object-fit: cover;">
      <h2 style="margin: 0;">{{ player.name }}</h2>
    </div>
    <p class="stat"><strong>Ruolo:</strong> {{ localized_roles[player.position_field] }}</p>
    <p class="stat"><strong>Data di nascita:</strong> {{ player.birth_date }}</p>
    <p class="stat"><strong>Presenze totali:</strong> {{ appearances }}</p>
    <p class="stat"><strong>Presenze da titolare:</strong> {{ starters }}</p>
    <p><strong>Europei partecipati:</strong>
      {% for year in european_years %}
        <a href="{{ url_for('results_page', edition=year) }}">{{ year }}</a>{% if not loop.last %}, {% else %}.{% endif %}
      {% endfor %}
    </p>
    <p class="stat"><strong>Numero maglia:</strong> {{ player.jersey_number|int }}</p>
    <p class="stat"><strong>Goal:</strong> {{ goals }}</p>
    <p class="stat"><strong>Assist:</strong> {{ assists }}</p>
    <p class="stat"><strong>Corner battuti:</strong> {{ corner }}</p>
    <!-- Altre statistiche -->

    <div style="text-align: center; margin-top: 20px;">
      <a href="{{ url_for('index') }}">⬅ Torna alla Home</a>
    </div>
  </div>
</body>
</html>
